.link-icon {
  border:2px solid #aaa;border-radius: 25%;background-color: black;padding:.2em .2em;
  display:flex;align-items: self-end;justify-content: center;
  display:flex;align-items: center;justify-content: center;
}

.reflection {
  -webkit-box-reflect: below -31px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.1) 80%)
}












.spin-container {
  position: relative;
}

.spin-container > * {
  position: absolute;
  top: 0;
  left: 0;

  transform-style: preserve-3d;
}

.spin-container > *:first-child {
  animation: spin-front 8s linear infinite;
}

.spin-container > *:nth-child(2) {
  animation: spin-middle 8s linear infinite;
}

.spin-container > *:nth-child(3) {
  animation: spin-middle-last 8s linear infinite;
  animation-delay: -4s;
}

.spin-container > *:last-child {
  animation: spin-back 8s linear infinite;
  animation-delay: -4s;
}

@keyframes spin-front {
  0% {
    transform: rotateY(0deg) translateZ(20px);
    z-index:5;
  }
  25% {
    transform: rotateY(90deg) translateZ(20px);
    z-index:5;
  }
  26% {
    transform: rotateY(90deg) translateZ(20px);
    z-index:0;
  }
  50% {
    transform: rotateY(180deg) translateZ(20px);
    z-index:0;
  }
  75% {
    transform: rotateY(270deg) translateZ(20px);
    z-index:0;
  }
  76% {
    transform: rotateY(270deg) translateZ(20px);
    z-index:5;
  }
  100% {
    transform: rotateY(360deg) translateZ(20px);
    z-index:5;
  }
}

@keyframes spin-middle {
  0% {
    transform: rotateY(0deg) translateZ(19px);
    z-index:4;
  }
  25% {
    transform: rotateY(90deg) translateZ(19px);
    z-index:4;
  }
  26% {
    transform: rotateY(90deg) translateZ(19px);
    z-index:5;
  }
  50% {
    transform: rotateY(180deg) translateZ(19px);
    z-index:5;
  }
  75% {
    transform: rotateY(270deg) translateZ(19px);
    z-index:5;
  }
  76% {
    transform: rotateY(270deg) translateZ(19px);
    z-index:4;
  }
  100% {
    transform: rotateY(360deg) translateZ(19px);
    z-index:4;
  }
}

@keyframes spin-middle-last {
  0% {
    transform: rotateY(0deg) translateZ(19px);
    z-index:1;
  }
  25% {
    transform: rotateY(90deg) translateZ(19px);
    z-index:1;
  }
  26% {
    transform: rotateY(90deg) translateZ(19px);
    z-index:3;
  }
  50% {
    transform: rotateY(180deg) translateZ(19px);
    z-index:3;
  }
  75% {
    transform: rotateY(270deg) translateZ(19px);
    z-index:3;
  }
  76% {
    transform: rotateY(270deg) translateZ(19px);
    z-index:4;
  }
  100% {
    transform: rotateY(360deg) translateZ(19px);
    z-index:1;
  }
}

@keyframes spin-back {
  0% {
    transform: rotateY(0deg) translateZ(20px);
    z-index:5;
  }
  25% {
    transform: rotateY(90deg) translateZ(20px);
    z-index:5;
  }
  26% {
    transform: rotateY(90deg) translateZ(20px);
    z-index:0;
  }
  50% {
    transform: rotateY(180deg) translateZ(20px);
    z-index:0;
  }
  75% {
    transform: rotateY(270deg) translateZ(20px);
    z-index:0;
  }
  76% {
    transform: rotateY(270deg) translateZ(20px);
    z-index:5;
  }
  100% {
    transform: rotateY(360deg) translateZ(20px);
    z-index:5;
  }
}

button, a {cursor: pointer;}

.color-inherit {
  color: inherit;
}

.no-a-style {
  text-decoration: none;
  color: inherit;
}